
@import './fonts.css';
@import './header.css';
@import './sidebar.css';
@import './main-banner.css';
@import './slots.css';


:root {
  --font-default: 'Inter', sans-serif;
  --font-alternative: 'Noto Sans', sans-serif;

  --text-blue-color: #0B5EBD;
  --text-light-blue-color: #7EE8F4;
  --text-light-color: #DEEFFF;
  --text-white-color: #FFFFFF;
  --text-hover-color: #FFD535;
  --background-primary: #032858;

  --spacing-l: 10px;
  --spacing-xl: 15px;
  --spacing-xxl: 20px;
  --spacing-2xl: 30px;

  --sidebar-width: 232px;
  --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}


body {
  font-family: var(--font-default);
  background-color: var(--background-primary);
  background-image: url(../../public/images/bg-pattern.png);
  background-size: 20px auto;
  background-repeat: repeat;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
}

.main-layout {
  width: calc(100vw - var(--sidebar-width)); 
  margin: var(--header-height) 0 0 auto;
}

.content {
  width: 100%;
}

@media screen and (max-width:1279px) {
  .main-layout {
    width: 100%; 
  }
}

@media screen and (max-width: 479px) {
  .main-layout {
    margin: 123px auto;
  }
}
