.slider-content {
   position: relative;
}

.main-banner__img {
   width: 100%;
}

.main-banner__content-wrapper {
    position: absolute;
    top: 0;
    left: 79px;
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-banner__subtitle {
    color: var(--text-white-color);
    font-family: var(--font-alternative);
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    line-height: 19.6px;
    text-align: center;
    margin-bottom: 5px;
}

.main-banner__title {
    font-family: var(--font-default);
    font-weight: 800;
    font-size: 26.86px;
    line-height: 44.28px;
    letter-spacing: 2.88px;
    text-align: center;
    margin-bottom: var(--spacing-xxl);
    text-shadow: 0px 4px 0px #00315F;
    color: var(--text-white-color);
}

.main-banner__link {
    font-family: var(--font-default);
    font-weight: 900;
    font-size: 18.48px;
    line-height: 26px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
    text-align: center;
    width: 240px;
    color: #C2231A;
    text-shadow: 0px 1px 0px #FFF202E5;
    text-decoration: none;
    position: relative;
    z-index: 100;
}

.main-banner__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 350px;
    height: 77px;
    background: linear-gradient(
        to right,
        #fde600 0%,
        #fde600 1.4%,
        rgba(253, 230, 0, 0) 1.7%,
        rgba(253, 230, 0, 0) 2.8%,
        #fde600 3.1%,
        #fde600 10.3%,
        rgba(253, 230, 0, 0) 10.6%,
        rgba(253, 230, 0, 0) 100%
    );
    transform: skewX(-20deg) translateY(-50%);
    z-index: -1;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    left: unset;
    right: 40px;
    bottom: 40px;
    width: fit-content;
    display: flex;
    gap: var(--spacing-2xl);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    transform: rotate(-45deg);
    background-color: var(--text-white-color);
    border: 1px solid #FFFFFF80;
    position: relative;
}

.swiper-pagination-bullet::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    width: 17px;
    height: 17px;
    border: 3px solid #FFFFFF80;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media screen and (max-width: 780px) {
    .main-banner__content-wrapper {
        left: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 479px) {
    .slider-content {
        background: linear-gradient(179.53deg, #054392 0.47%, #032858 99.67%);
    }

    .main-banner__img-wrapper {
        height: 375px;
        overflow: hidden;
    }

    .main-banner__img {
        height: 50%;
        position: absolute;
        top: 0;
        object-fit: cover;
        object-position: center;
    }

    .main-banner__content-wrapper {
        background: linear-gradient(
        179.53deg,
        rgba(5, 67, 146, 0.2) 7%,   
        rgba(3, 40, 88, 0.4) 39%,     
        rgba(3, 40, 88, 1) 46.67%     
        );     
        bottom: 0;
        padding: var(--spacing-xl) var(--spacing-xl) 50px;
        top: unset;
        justify-content: flex-end;
    }

    .main-banner__link::before {
        height: 53px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, 
    .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .swiper-pagination-custom, .swiper-pagination-fraction {
        left: 0;
        right: unset;
        bottom: var(--spacing-xl);
        width: 100%;
        justify-content: center;
    }
    
}



