.slider-content {
   position: relative;
}

.main-banner__img {
   width: 100%;
}

.main-banner__content-wrapper {
    position: absolute;
    top: 0;
    left: 79px;
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-banner__subtitle {
    color: var(--text-white-color);
    font-family: var(--font-alternative);
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    line-height: 19.6px;
    text-align: center;
    margin-bottom: 5px;
}

.main-banner__title {
    font-family: var(--font-default);
    font-weight: 800;
    font-size: 26.86px;
    line-height: 44.28px;
    letter-spacing: 2.88px;
    text-align: center;
    margin-bottom: var(--spacing-xxl);
    text-shadow: 0px 4px 0px #00315F;
    color: var(--text-white-color);
}

.main-banner__link {
    font-family: var(--font-default);
    font-weight: 900;
    font-size: 18.48px;
    line-height: 26px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
    text-align: center;
    width: 240px;
    color: #C2231A;
    text-shadow: 0px 1px 0px #FFF202E5;
    text-decoration: none;
    position: relative;
    z-index: 100;
}

.main-banner__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 350px;
    height: 77px;
    background: linear-gradient(
        to right,
        #fde600 0%,
        #fde600 1.4%,
        rgba(253, 230, 0, 0) 1.7%,
        rgba(253, 230, 0, 0) 2.8%,
        #fde600 3.1%,
        #fde600 10.3%,
        rgba(253, 230, 0, 0) 10.6%,
        rgba(253, 230, 0, 0) 100%
    );
    transform: skewX(-20deg) translateY(-50%);
    z-index: -1;
}


